.background-image {
    margin-top: -35px;
    margin-bottom: -4px;
}
body {
    background-color: #6b6f75;
    width: 1500px;
    margin: auto;
    font-family: "Arial", Arial, sans-serif;
    padding-bottom: 30px;
}
.top-bar {
    background-color: white;
    width: 1920px;
    height: 100px;
    position: relative;
    top: -20px;
    right: 225px;
}
.top-container {
    text-align: center;
    width: 1500px;
    position: relative;
    bottom: 94px;
    left: 225px;
}
#hamburger {
    position: relative;
    top: 70px;
    right: 535px;
    font-size: 100px;
    cursor: pointer;
}
#home-header {
    position: relative;
    top: 52px;
    font-size: 3em;
    display: inline;
    right: 60px;
}
#home-text {
    position: absolute;
    color: white;
    bottom: 750px;
    left: 510px;
    font-size: 1.75em;
    text-align: center;
}
#home-text2 {
    position: absolute;
    color: white;
    bottom: 690px;
    left: 510px;
    font-size: 1.75em;
    text-align: center;
}
.form-text {
    position: absolute;
    color: white;
    bottom: 700px;
    left: 320px;
    font-size: 3em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#form {
    position: absolute;
    bottom: 250px;
    left: 730px;
    color: white;
    font-family: "Arial", Arial, sans-serif;
    font-size: 25px;
}
footer {
    background-color: white;
    width: 100%;
    bottom: 1;
    position: absolute;
    text-align: center;
    width: 1920px;
    right: 0px;
    height: 40px;
    padding-top: 20px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}